<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="balance_infantry">
  <link
    name="base_link">
    <!-- <inertial>
      <origin
        xyz="-0.00597 0.001726 -0.007174"
        rpy="0 0 0" />
      <mass
        value="11.914" />
      <inertia
        ixx="0.208753"
        ixy="-0.000711"
        ixz="-0.005027"
        iyy="0.216664"
        iyz="0.003567"
        izz="0.26066" />
    </inertial> -->
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://balance_infantry_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://balance_infantry_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="dummy_link">
    <inertial>
      <origin
        xyz="-0.00597 0.001726 -0.007174"
        rpy="0 0 0" />
      <mass
        value="11.914" />
      <inertia
        ixx="0.208753"
        ixy="-0.000711"
        ixz="-0.005027"
        iyy="0.216664"
        iyz="0.003567"
        izz="0.26066" />
    </inertial>
    </link>

    <joint name="inertial_joint" type="fixed">
        <parent link="base_link" />
        <child link="dummy_link" />
        <origin xyz="0 0 0" />
    </joint>
</robot>